<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mprog.project.quizapp">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature android:required="true" android:name="android.hardware.camera2"/>

    <application
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".welcome.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".quizcomplete.CompletedQuizActivity" />
        <activity android:name=".quizcreation.CreateQuizActivity" />
        <activity android:name=".quiz.QuizListActivity">
        </activity>
        <activity android:name=".quiz.QuizActivity" />
        <activity android:name=".quiz.QuestionActivity" />
        <provider
            android:authorities="mprog.project.quizapp.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files"/>
        </provider>
    </application>

</manifest>